.generalInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem 0 3rem 2rem;
}

.listOne,
.listTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listTwo{
    margin-top: 1.25rem;
}

.listOne>div,
.listTwo>div {
    width: 18%;
    height: 4rem;
    border-bottom: 1px solid rgb(208, 205, 205);
}

.listOne>div>p {
    font-size: 14px;
    margin: 5px;
    color: rgb(168, 167, 167);
}

.listOne>div>h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 5px 20px 5px;   
}

.listTwo>div>p {
    font-size: 14px;
    margin: 5px;
    color: rgb(168, 167, 167);
}

.listTwo>div>h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 5px 20px 5px;   
}